.head{
    background-color: blue;
    border: 4px dashed black;
    padding: 15px;
}

.center{
    text-align: center;
}

.input-btn{
    border: 4px double black;
    background-color: aqua;
    padding: 14px;   
}

.table-btn{
    border: none;
    background-color: lightsteelblue;
    padding: 10px;
    border: 2px dotted black;
    border-radius: 5px;
    cursor: pointer;
}

.out-screen{
    background-color: lightslategray;
    /* padding:  0px 0px 15px 0px; */
}
